* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: hsl(25, 97%, 53%);

}

button {
    border: 0;
}

.container {
    font-family: 'Open Sans', sans-serif;
    background-image: linear-gradient(to bottom right, hsl(216, 12%, 8%), hsl(213, 19%, 18%));
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    padding: 6% 7%;
    gap: 15px;
}

.container p {
    font-size: small;
    color: grey;
}

.circled {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: hsl(216, 12%, 8%);
    padding: 2%;
}

.submit {
    display: flex;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: white;
    background-color: rgb(255, 115, 0);
    padding: 2%;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
    cursor: pointer;
}

.submit:active,
.submit:hover {
    display: flex;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
    color: rgb(255, 115, 0);
    padding: 2%;
    align-items: center;
    border-radius: 30px;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 5% 0;
}

button[type="text"]:hover {
    background: rgba(245, 245, 220, .3);
    cursor: pointer;
}

.active,
button[type="text"]:active {
    background: rgba(255, 115, 0, .9);
}

.none {
    display: none;
}